
  
  .Courses {
    background-color: white; /* Light cream background */
    border: 2px solid  white; /* Deep blue border */
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    flex-shrink: 0; /* Ensures cards don’t shrink when overflowing */
    display: inline-block;
    margin: 10px;
    position: relative; /* Required for the grade circle positioning */
  }
  
  .Courses:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .Course-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 2px solid white; /* Light blue border around the image */
  }

  .grade-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
    height: 40px;
   
    background-color: #164a89; /* Deep blue for the grade circle */
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Stack the paragraphs vertically */
  }
  
  .grade-circle:hover {
    background-color: #164a89; /* Medium blue on hover */
  }

.Course-details {
  text-align: left; /* Align course details to the left */
}
  
  .Course-code,
  .Course-name,
  .Course-semester {
    color: black; /* Changed text color to black */
    font-family: 'Arial', sans-serif;
    margin: 10px 0;
  }
  
  .Course-code {
    font-size: 18px;
    font-weight: bold;
  }
  
  .Course-name {
    font-size: 16px;
  }
  
  .Course-semester {
    font-size: 14px;
    color: #608BC1; /* Medium blue for the semester */
  }

  @media (max-width: 768px) {
    .Courses {
        width: 90%; /* Cards take full width for smaller screens */
        display: block; /* Stack cards vertically */
        margin: 15px auto; /* Center cards on small screens */
    }

    .Course-image {
        height: 120px; /* Adjust image size for smaller screens */
    }
    .grade-circle {
      width: 35px; /* Smaller grade circle for smaller screens */
      height: 35px;
      font-size: 12px;
    }
}

@media (max-width: 480px) {
    .Course-code {
        font-size: 16px;
    }

    .Course-name {
        font-size: 14px;
    }

    .Course-semester {
        font-size: 12px;
    }
}